# Compiler files
foundry/cache/
foundry/out/

# Python virtual environment for Slither
foundry/slither-env/

# Ignores development broadcast logs
!/foundry/broadcast
/foundry/broadcast/*/31337/
/foundry/broadcast/**/dry-run/

# Dotenv file
.env

# Signed transaction files
/offline-signer/signed-*.json

# offline-signer test files
/offline-signer/test-outputs

# Node modules
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
