# Compiler files
foundry/cache/
foundry/out/

# Ignores development broadcast logs
!/foundry/broadcast
/foundry/broadcast/*/31337/
/foundry/broadcast/**/dry-run/

# Dotenv file
.env

# Signed transaction files
offline-signer/signed-*.json

# Node modules
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
