@layer tailwind-base, daisyui, tailwind-components, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;
}

@layer tailwind-utilities {
  @tailwind utilities;
}
